{% import 'partials/macros.twig' as macro %}
<header class="site__header">
    <div class="container">
        {% if options.settings.site_logo %}
            {% set site_logo = get_image( options.settings.site_logo ) %}
            <div class="logo">
                <a href="{{ function( 'home_url' ) }}">
                    {{ macro.image(site_logo, 'site_logo', options.fallback_images.default) }}
                </a>
            </div>
        {% else %}
            <h1>
                {{ site.title }}
            </h1>
        {% endif %}

        <div class="site__header-menu">
            {% include 'partials/nav.twig' with {
                'items'    : menu_main.get_items,
                'modifier' : 'top'
            } %}
        </div>

        <div class="site__header-buttons">
            {{ macro.button( '/support', 'Support', 'header-support', '', 'fas fa-user-headset' ) }}
            {{ macro.button( '/download', 'Download the app', 'header-cta', '', 'fas fa-download' ) }}

            {% if menu_main.get_items is not empty %}
                <div class="site__header-icons">
                    {{ macro.fa( 'fa fa-bars nav__trigger--open' ) }}
                </div>

                {% include 'partials/mobile-menu.twig' %}
            {% endif %}
        </div>
    </div>

</header>
